<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make New Comments</title>
</head>
<body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="post">
        <input type="text" name="username" id="username" placeholder="username">
        <br>
        <textarea name="comment" id="comment" cols="20" rows="5" placeholder="write a comment"></textarea>
        <br>
        <button>Submit</button>
    </form>
    <a href="/comments">Back to Index</a>
</body>
</html>